<router-outlet></router-outlet>

    
<main>
  <header>
    <h1>Boletos diários</h1>
  </header>
  <section class="boletos" >
  <div class="boleto" tabindex="0" *ngFor="let boleto of boletos" (click)="selecionado(boleto)" id="divBoleto"  >
      <div class="dadosBoleto"><h2>{{boleto.titulo}}</h2></div>
      <div class="dadosBoleto2"> Valor: <span>{{boleto.valor.toLocaleString("pt-BR", {
        minimumFractionDigits: 2})}} R$</span> </div> 
      <div class="dadosBoleto2" > Data: <span >{{boleto.vencimento | date:'dd/MM/yyyy'}}</span></div>
    </div>    
  </section>
  
  <section class="form" >
    <form id="form2" #formValidate="ngForm" #customLoadingTemplate>
      <div id="form-titulo">Cadastro </div> 
     
      <label for="titulo">Titulo<span id="asterisco">*</span> :</label>
      <input ng-focus type="text" id="titulo" name="titulo" maxlength="30" required [(ngModel)]="boleto.titulo" placeholder="Informe o titulo para o seu boleto">

      <label for="valor">Valor<span id="asterisco">*</span> :</label>
      <input id="valor" name="valor" required [(ngModel)]="boleto.valor" placeholder="R$ 0,00" currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}">
    
      <label for="vencimento">Data de vencimento<span id="asterisco">*</span> :</label>
      <input type="date" id="vencimento" name="vencimento" required [(ngModel)]="boleto.vencimento" > 

      <button (click)="salvar()" [disabled]="formValidate.invalid">Salvar</button>
      <button  (click)="novo()">Limpar</button>
      <button id="editar" (click)="editarBoleto(boletoAux)"  >Editar</button>
      <button id="excluir" (click)="deletarBoleto( boletoAux.id )" >Excluir</button>
      <div class="mostrar"  >

        <label for="mostrar">Mostrar: </label>
      </div>
      
      <input checked type="radio" (click)="chamaDiarios()" class="mostrarTodos" id="mostrarTodos" name="mostrarTodos" value="30">
      <label for="mostrarTodos">Diários</label>

      <input type="radio" (click)="chamaTodos()" class="mostrarTodos" id="mostrarTodos" name="mostrarTodos" value="30">
      <label for="mostrarTodos">Todos</label>
           
    </form>      
    
  </section>
  <div class="total" >Total a pagar: <span>{{valorTotal.toLocaleString("pt-BR", {
    minimumFractionDigits: 2})}} R$</span></div>

    
  <footer></footer>

</main>
